@use 'variables';
@use 'profile';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#d1ecec;
}

h1 {
    padding: 1em;
    background-color: peachpuff;
}

ul {
    list-style-image: url(../images/food.png);
}
